*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER DESIGN START*/

nav, #hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

header{
    position: relative;
    width: 100%;
    background-color: #0A3641;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
}

.logo{
    max-width: 320px;
    min-width: 300px;
    padding: 30px;
}

.cart{
    max-width: 70px;
}

.hamburger {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    cursor: pointer;
    z-index: 100;
}

nav{
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: none;
    padding: 20px 0;
    z-index: 1;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    padding: 30px 50px;
    
}

nav a{
    text-decoration: none;
    font-size: 2em;
    color: #D36245;
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

nav a:hover{
    font-weight: 700;
}

/*HEADER DESIGN END*/

main{
    margin-bottom: 100px;
    margin-left: 60px;
}

main a:hover{
    text-decoration: underline;
}

.progress{
    margin: 50px;
}

h1{
    color: #0A3641;
    font-family: "Instrument Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 10px;
}

h2{
    grid-column: span 2/span 2;
    grid-column-start: 2;
    color: #000;
    font-family: "Instrument Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 1.5;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 900px;
    padding: 2em;
    background-color: rgba(217, 217, 217, 0.41);
}

section img{
    grid-row: span 2/span 2;
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

p{  
    color: rgba(0, 0, 0, 0.69);
    font-family: "Instrument Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.info{
    grid-row: span 2/span 2;
    grid-row-start: 2;
    grid-column-start: 2;
}

.subtotal{
    display: block;
    text-align: end;
    margin-top: 3em;
    margin-right: 5em;
    padding: 5px;
    font-size: 36px;
    color:#000;
    font-weight: 700;
    text-transform: uppercase;
    border-top-style: solid;
    border-color: black;
    max-width: 85vw;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons a{
    display: flex;
    text-decoration: none;
    font-size: 2em;
    color: white;
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1em;
    background-color:#D36245;
    margin: 12px;
}

.buttons .continue a{
    color:#D36245;
    background-color: white;
}

/*FOOTER DESIGN START*/

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: #0A3641;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer ul li i {
    margin: 40px;
    font-size: 55px;
}

/*FOOTER DESIGN END*/

@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        display: block;
        position: static;
        width: auto;
        padding: 0;
    }
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    nav li {
        padding: 0 30px;
        width: auto;
    }    
    nav a{
        display: inline-block;
    }
    .hamburger{
        display: none;
    }
}

@media (max-width: 599px){
    nav{
        background-color: #0A3641;
    }
    nav a{
        font-size: 26px;
    }
    section{
        display:block;
        max-width: 85vw;
    }
    section img{
        max-width: 180px;
    }
    .subtotal{
        font-size: 24px;
        width: 100%;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 85vw;
    }
    .progress{
        width: 85vw;
        margin: 30px;
    }
    main{
        margin-left: 30px;
    }
}
